# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Test and coverage
.pytest_cache/
.coverage
htmlcov/
*.log

# Secrets and environment
.env
.env.*

# FastAPI-specific
server/*.db
server/instance/
server/*.sqlite3
server/*.sqlite
server/*.json
server/*.yaml
server/*.yml

# Static and media files (if generated)
staticfiles/
media/

.zip
*.code-workspace
*.vsix
node_modules/